@font-face {
    font-family: 'Octopus Bold Inline';
    src: url('OctopusBoldInline.woff2') format('woff2'),
        url('OctopusBoldInline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Octopus Bold Inline Grunge';
    src: url('OctopusBoldInlineGrunge.woff2') format('woff2'),
        url('OctopusBoldInlineGrunge.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}