@font-face {
    font-family: 'ehmcke-fraktur initialen';
    src: url('ehmcke-fraktur_initialen-webfont.woff2') format('woff2'),
         url('ehmcke-fraktur_initialen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}