@font-face {
    font-family: 'Burvetica';
    src: url('Burvetica NC.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burvetica Thick';
    src: url('Burvetica Thick NC.ttf');
    font-weight: normal;
    font-style: normal;
}