@font-face {
    font-family: 'kinigstein caps';
    src: url('kinigsteincaps-webfont.woff2') format('woff2'),
         url('kinigsteincaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}