@font-face {
    font-family: 'blavicke capitals';
    src: url('blavicke-webfont.woff2') format('woff2'), url('blavicke-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}