/*** Shadow of the Demon Lord Headers ***/

/** Title **/

.gmb div.title .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 816px;
  background-image: var(--img-header-banner);
  background-size: 100% 106%;
  padding: 20px 0;
  /* margin: 0px -65px 0px -65px; */
  text-align: center;
}

.gmb div.title .banner h1 {
  font-family: var(--font-title);
  font-size: 50pt;
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000,
    3px 7px 3px #000, 4px 8px 3px #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: #f3ebebd1;
  position: relative;
  bottom: 5px;
}

.gmb div.title-text h1 {
  position: absolute;
  left: 120px;
  top: 200px;
  font-family: var(--font-title);
  font-size: 60pt;
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000,
    3px 7px 3px #000, 4px 8px 3px #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: #f3ebebd1;
  position: relative;
}

.gmb div.subtitle h2 {
  font-family: var(--font-main);
  color: var(--color-text-main);
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}

/** Title END **/

.gmb h1,
.gmb h2,
.gmb h3,
.gmb h4,
.gmb h5,
.gmb h6,
.gmb h7 {
  font-family: var(--font-header);
  font-weight: normal;
  text-align: left;
  color: var(--color-headers-main);
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

.gmb h1 {
  font-size: 32pt;
}

.gmb h2 {
  font-size: 25pt;
}

.gmb h3 {
  border-bottom-style: none;
  font-size: 18pt;
  padding: 0;
}

.gmb h4 {
  font-size: 14pt;
}

.gmb div.traits h4 {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: var(--color-header-border);
  border-bottom-width: 1.1px;
}

.gmb div.tables h4 {
  text-align: center;
}

.gmb h5 {
  font-size: 12pt;
  border-bottom-style: solid;
  border-bottom-color: var(--color-header-border);
  border-bottom-width: 1.1px;
}

.gmb div.tables h5 {
  font-size: 12pt;
  text-align: center;
  border-bottom-style: none;
}

.gmb h5.sidebar {
  font-size: 12pt;
  text-align: center;
}

.gmb h6 {
  font-size: 10pt;
  border-bottom-style: solid;
  border-bottom-color: var(--color-headers-main);
  border-bottom-width: 1.1px;
}
.gmb img.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.gmb h1 + p::first-letter {
  float: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
