/*** Shadow of the Demon Lord Lists ***/

.gmb ul {
  text-indent: -1em;
  list-style-type: none;
}

.gmb ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.gmb ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

.gmb ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-family: var(--font-strong);
  font-weight: bold;
  font-size: 9pt;
  text-align: right;
  content: counter(item) ".";
}

.gmb ul strong,
.gmb ul p strong,
.gmb ol strong {
  font-family: var(--font-strong);
  font-weight: normal;
  font-size: 10pt;
  letter-spacing: -0.02em;
  color: var(--color-strong);
}

.gmb ul li ul li strong,
.gmb ul li strong + strong {
  font-size: 9pt;
}

.gmb hr + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.gmb ul li ul li,
.gmb ul + div.column-break + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.gmb ul + div.column-break + ul li {
  margin-left: 1.5em;
}

.gmb p ul li strong {
  font-family: var(--font-strong);
  font-weight: normal;
  font-size: 10pt;
  color: var(--color-strong-alt);
  letter-spacing: -0.02em;
}

.gmb p ul li ul li strong,
.gmb p + ul li strong {
  font-family: var(--font-strong);
  font-weight: normal;
  font-size: 10pt;
  color: var(--color-strong);
  letter-spacing: -0.02em;
}

.gmb ul li p {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: inherit;
}

.gmb ul li p + ul {
  margin-top: 0px;
}

.gmb ul li div.column-break + p,
.gmb ul + div.column-break + p {
  text-indent: 1em;
}

.gmb.ng-scope ul li p {
  text-indent: -1em;
}

.gmb.ng-scope ul li p + p {
  text-indent: 1em;
}

.gmb p + ul {
  margin-top: -0.8em;
}

.gmb p.list-indent {
  margin-left: 1em;
  line-height: 1em;
  text-indent: 1em;
}

.gmb p.list-indent + ul li:first-of-type {
  margin-left: 0;
  line-height: 1em;
  text-indent: 1em;
}

.gmb p,
.gmb li,
.gmb ol {
  font-family: var(--font-main);
  font-size: 11pt;
  text-align: left;
  letter-spacing: -0.01em;
}

.gmb ul ul,
.gmb ol ol,
.gmb ul ol,
.gmb ol ul {
  margin-bottom: 0;
  margin-left: 0;
  line-height: inherit;
}
