/*** Shadow of the Demon Lord Page number ***/

.gmb .pageNumber,
.gmb .pageNumber.auto {
  font-family: var(--font-header);
  font-size: 13pt;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
  text-align: center;
}

.gmb:nth-child(odd) .pageNumber,
.gmb:nth-child(even) .pageNumber {
  right: 0px;
  bottom: 32px;
  width: 50px;
  vertical-align: middle;
}

.gmb:nth-child(odd) .pageNumber {
  left: 30px;
}

.gmb:nth-child(even) .pageNumber {
  left: 735px;
}

.gmb:nth-child(odd)::after,
.gmb:nth-child(even)::after {
  content: "";
  background: none;
  background-image: var(--img-bg-page-number), var(--img-bg-border);
  background-size: 100px 100px, 780px 1046px;
  background-repeat: no-repeat;
  background-position: 20px calc(100% - 5px), bottom;
  margin-bottom: 10px;
  margin-left: 10px;
  left: -10px;
  bottom: 0;
  height: 100%;
  z-index: -2;
  padding: 0px;
}

.gmb:nth-child(even)::after {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

div#p1::after {
  background-image: none;
}

.gmb .footnote {
  color: var(--color-strong);
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 0.8em;
  width: 200px;
  bottom: 20px;
}
