@font-face {
    font-family: 'romantique initials';
    src: url('romantiqueinitials-k7wx-webfont.woff2') format('woff2'),
         url('romantiqueinitials-k7wx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}