@font-face {
    font-family: 'Mariam Rough';
    src: url('mariam rough.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariam Story';
    src: url('mariam story.otf');
    font-weight: normal;
    font-style: normal;
}