@font-face {
    font-family: 'Maroon Bold Inline Grunge';
    src: url('MaroonBoldInlineGrunge.woff2') format('woff2'),
        url('MaroonBoldInlineGrunge.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maroon Bold Inline';
    src: url('MaroonBoldInline.woff2') format('woff2'),
        url('MaroonBoldInline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Billiard';
    src: url('Billiard.woff2') format('woff2'),
        url('Billiard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

