@font-face {
    font-family: 'Lansdowne';
    src: url('Lansdowne.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lansdowne Slanted';
    src: url('Lansdowne Slanted.otf');
    font-weight: normal;
    font-style: normal;
}