@font-face {
    font-family: 'Lansdowne';
    src: url('Lansdowne.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lansdowne Slanted';
    src: url('Lansdowne Slanted.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}