@font-face {
    font-family: 'Hydrant bold inline';
    src: url('Hydrantboldinline.woff2') format('woff2'),
        url('Hydrantboldinline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hydrant bold inline grunge';
    src: url('Hydrantboldinlinegrunge.woff2') format('woff2'),
        url('Hydrantboldinlinegrunge.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

