@font-face {
    font-family: 'Cool Urban 90s';
    src: url('CoolUrban90s-Regular.woff2') format('woff2'), url('CoolUrban90s-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}