@import url('https://roninra.github.io/SotDL-Homebrew/assets/fonts/SotDL/stylesheet.css');
/** Global properties **/

:root {
    --img-header-banner: url(../img/backgrounds/header-banner.png);
    --img-main-bg: url(../img/backgrounds/sotdl_background.jpg);
    --img-bg-border: url(../img/backgrounds/sotdl_background_border.png);
    --img-bg-page-number: url(../img/backgrounds/pentagram.png);
    --img-parchment: url(../img/backgrounds/parchment.png);
    --img-parchment-long: url(../img/backgrounds/parchment-long.png);
    --color-headers-main: #800000;
    --color-text-main: black;
    --color-strong: black;
    --color-strong-alt: #800000;
    --color-monster-h1-bg: black;
    --color-monster-h2-bg: #800000;
    --color-monster-h3-bg: #A7A9AC;
    --color-header-border: black;
    --color-table-header-bg: black;
    --color-table-main-bg: initial;
    --color-table-alt-bg: white;
    --color-link: #800000;
    --blend-half-vertical: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-half-vertical.png');
    --blend-half-horizontal: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-half-horizontal.png');
    --blend-corner: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner.png');
    --blend-onethird: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-onethird.png');
    --blend-twothirds: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-twothirds.png');
    --blend-corner-inverted: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-inverted.png');
    --blend-corner-inverted-small: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-inverted-small.png');
    --blend-corner-quarter: url('/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-quarter.png');
}

/** Global properties END **/

/**  **/

.brewRenderer .pages>.gmb {
    margin-bottom: 10px;
}

@media print {
    .gmb {
        margin: 0;
        height: 279.4mm;
        width: 215.9mm;
    }
}

.gmb {
    font-family: Athelas;
    background: var(--img-main-bg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 279.4mm;
    width: 215.9mm;
    padding: 1.0cm 1.0cm 1.0cm 1.0cm;
    column-fill: auto;
    column-count: 2;
    column-gap: 0.4cm;
    column-width: 9cm;
    -webkit-column-count: 2;
    -webkit-column-gap: 0.4cm;
    -webkit-column-width: 9cm;
    -moz-column-count: 2;
    -moz-column-gap: 0.4cm;
    -moz-column-width: 9cm;
}

.gmb a, .gmb .custom-external-link, .gmb .custom-internal-link {
    color: var(--color-link);
}

/*** Headers ***/

.gmb img.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.gmb div.title .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    background-image: var(--img-header-banner);
    background-size: 100% 106%;
    padding: 20px 0;
    /* margin: 0px -65px 0px -65px; */
    text-align: center;
}

.gmb div.title .banner h1 {
    font-family: "First Order";
    font-size: 50pt;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 0px 5px black;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000, 3px 7px 3px #000, 4px 8px 3px #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: #f3ebebd1;
    position: relative;
    bottom: 5px;
}

.gmb div.title-text h1 {
    position: absolute;
    left: 120px;
    top: 200px;
    font-family: "First Order";
    font-size: 60pt;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 0px 5px black;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000, 3px 7px 3px #000, 4px 8px 3px #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: #f3ebebd1;
    position: relative;
}

.gmb div.subtitle h2 {
    font-family: Athelas;
    color: var(--color-text-main);
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}

.gmb h1+p::first-letter {
    float: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.gmb h1, .gmb h2, .gmb h3, .gmb h4, .gmb h5, .gmb h6, .gmb h7 {
    font-family: 'Poison Hope';
    font-weight: normal;
    text-align: left;
    color: var(--color-headers-main);
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gmb h1 {
    font-size: 32pt;
}

.gmb h2 {
    font-size: 25pt;
}

.gmb h3 {
    border-bottom-style: none;
    font-size: 18pt;
    padding: 0;
}

.gmb h4 {
    font-size: 14pt;
}

.gmb div.traits h4 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: var(--color-header-border);
    border-bottom-width: 1.1px;
}

.gmb div.tables h4 {
    text-align: center;
}

.gmb h5 {
    font-size: 12pt;
    border-bottom-style: solid;
    border-bottom-color: var(--color-header-border);
    border-bottom-width: 1.1px;
}

.gmb div.tables h5 {
    font-size: 12pt;
    text-align: center;
    border-bottom-style: none;
}

.gmb h5.sidebar {
    font-size: 12pt;
    text-align: center;
}

.gmb h6 {
    font-size: 10pt;
    border-bottom-style: solid;
    border-bottom-color: var(--color-headers-main);
    border-bottom-width: 1.1px;
}

/*** Headers END ***/

/*** Cover ***/

.gmb img.cover-logo {
    position: absolute;
    width: 375px;
    bottom: 50px;
    left: 20px;
    z-index: 5;
}

.gmb img.dotdl {
    position: absolute;
    width: 225px;
    bottom: 15px;
    right: 16px;
    z-index: 5;
}

.gmb p.cover-footer, .gmb p.cover-footer em {
    font-family: Athelas;
    bottom: 10px;
    left: 25px;
    text-align: left;
    font-size: 10pt;
    width: 550px;
    color: #EEEEEE;
}

/*** Cover END ***/

/*** Layout ***/

.gmb div.column-container {
    column-count: 2;
    column-span: all;
}

.gmb div.dual-tables {
    column-count: 2;
}

.gmb div.placeholder-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 100px;
    right: 20px;
    bottom: 20px;
    border: 15px ridge var(--color-strong-alt);
}

.gmb div.placeholder-art p {
    flex: 0 0 30;
    font-size: 20pt;
    font-weight: bold;
}

.gmb div.placeholder-art h6 {
    font-size: 30pt;
    margin: 10px 0 0 0;
    border-bottom: none;
}

.gmb div.column-break+p, .gmb.ng-scope p {
    text-indent: 1em;
}

/*** Layout END ***/

/*** Bold ***/

.gmb p strong {
    font-family: "GothamBold";
    font-weight: normal;
    font-size: 10pt;
    color: var(--color-strong-alt);
    letter-spacing: -0.02em;
}

.gmb strong em, .gmb em strong {
    color: var(--color-strong-alt);
    font-style: normal;
    font-weight: bold;
}

/* .gmb h5+p strong {
    color: var(--color-strong);
} */

/*** Bold END ***/

/*** TOC ***/

.gmb .toc li span:nth-child(2) {
    /* Allow dot leaders to fill remaining space but not overlap */
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.gmb .toc li span:nth-child(2):after {
    /* Remove any header styles from dot leaders */
    font-family: Athelas;
    font-size: 0.4cm;
    font-weight: normal;
    color: black;
    content: " ........................................" "........................................." ".........................................";
}

.gmb .toc li span:first-child {
    /* Remove any header styles from page numbers */
    float: right;
    font-family: Athelas;
    font-size: 0.4cm;
    font-weight: normal;
    color: black;
    margin-left: 1px;
}

.gmb .toc li h3 {
    font-size: 12pt;
    margin-bottom: 0px;
    margin-top: 5px;
}

/* .gmb .toc li h3 span:first-child {
    line-height: 1.8em;
} */

/* .gmb .toc li h3+ul li:nth-child(1) h4 span {
    margin-right:-7px;
} */

.gmb .toc li h4, .gmb .toc li h5 {
    text-transform: none;
    font-family: Athelas;
}

.gmb .toc li h4 {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0px;
}

.gmb .toc li h5 {
    font-size: 10pt;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.gmb .toc ul {
    text-indent: initial;
}

.gmb .toc ul ul {
    margin-left: 10px;
}

.gmb .toc>ul>li {
    margin-bottom: initial;
}

.gmb .toc ul li ul li {
    list-style-type: none;
}

.gmb .toc ul+div.column-break+ul li {
    list-style-type: none;
}

/* TOC END */

/* Tables */

.gmb div.half-table table {
    width: 50%;
}

.gmb div.tables table thead th, div.table section div table thead th, li p+table thead th, p+table thead th {
    background-color: var(--color-table-header-bg);
    color: #ffffff;
    font-family: "GothamBold";
    font-size: 8pt;
    padding: 3px 6px 3px 6px;
    min-width: 34px;
}

.gmb div.tables div.column-break+table thead th {
    padding: 0px;
}

.gmb.ng-scope table thead th {
    padding: 0px;
}

.gmb table tbody tr {
    font-family: "GothamBook";
    font-size: 8pt;
}

.gmb table tbody tr:nth-child(odd) {
    background-color: var(--color-table-main-bg);
    font-family: "GothamBook";
    font-size: 8pt;
}

.gmb table tbody tr:nth-child(even) {
    background-color: var(--color-table-alt-bg);
    font-family: "GothamBook";
    font-size: 8pt;
}

.gmb table tbody tr td {
    font-family: 'GothamBook';
    font-size: 8pt;
    min-width: 34px;
}

.gmb table tbody tr td p {
    font-family: 'GothamBook';
    font-size: 8pt;
    text-indent: 1em;
}

.gmb table tbody tr td ul {
    text-indent: -1em;
    list-style-type: none;
}

.gmb table tbody tr td li {
    margin-left: 5px;
    font-family: 'GothamBook';
    font-size: 8pt;
    color: var(--color-text-main);
}

.gmb table tbody tr td strong {
    font-family: 'GothamBold';
    font-weight: normal;
    font-size: 8pt;
    color: var(--color-strong);
}

.gmb table strong {
    font-family: 'GothamBold';
    font-size: 8pt;
}

.gmb table+ul {
    line-height: 1em;
    margin-top: -0.5em;
}

.gmb table+ul li {
    font-size: 10pt;
}

.gmb table em {
    font-family: 'GothamBook';
    font-weight: normal;
}

.gmb ul li table {
    margin: 2px 0 2px 0;
}

.gmb ul li table tbody tr td {
    padding: .1em .1em;
}

/*** Tables END ***/

/*** Blockquote ***/

.gmb blockquote {
    border: 1px solid orange;
    border-image-source: var(--img-parchment);
    border-image-slice: 20 fill;
    border-image-width: 20;
    border-image-outset: 5;
    border-image-repeat: round;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 10px 10px 20px 12px;
    overflow: hidden;
    box-shadow: unset;
    margin-bottom: 0;
}

.gmb blockquote h5, .gmb blockquote h3 {
    border: none;
    font-weight: bold;
    text-align: center;
}

.gmb blockquote h4 {
    text-align: center;
}

.gmb blockquote section h1, .gmb blockquote section h2, .gmb blockquote section h3, .gmb blockquote section h4, .gmb blockquote section h5, .gmb blockquote section h6 {
    font-family: 'Poison Hope';
}

.gmb blockquote p {
    font-size: 0.83em;
}

.gmb blockquote section ul li {
    list-style-type: disc;
    text-indent: 0;
}

.gmb blockquote small {
    color: var(--color-text-main);
    font-family: Athelas;
    line-height: 1.1em;
    font-size: 0.83em;
}

/*** Blockquote END ***/

/*** Note block ***/

.gmb blockquote.note {
    border: 1px solid orange;
    border-image-source: var(--img-parchment);
    border-image-slice: 20 fill;
    border-image-width: 20;
    border-image-outset: 5;
    border-image-repeat: round;
    padding: 20px 15px 20px 15px;
    overflow: hidden;
    height: auto;
    margin-right: -10px;
    margin-left: -10px;
}

.gmb blockquote.note table {
    margin-bottom: 0.25em;
}

.gmb blockquote.note table tbody tr td {
    line-height: 1.25em;
}

/*** Note block END ***/

/*** Patreon Credits block END ***/

.gmb div.patreon blockquote {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 340px;
    text-align: center;
}

.gmb div.patreon blockquote p:last-child {
    margin-bottom: 10px;
}

.gmb div.patreon blockquote p {
    font-size: 1em;
}

.gmb div.patreon blockquote img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gmb div.patreon blockquote h5 {
    margin: 10px 0px 10px 0px;
}

.gmb div.patreon blockquote div.column-container h6 {
    margin: 0px 0px 0px 5px;
}

/*** Patreon Credits block END ***/

/* Credits blockquote */

.gmb blockquote.credits {
    text-shadow: none;
}

.gmb blockquote.credits h1.credits {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 18pt;
    text-align: center;
    border: none;
}

.gmb blockquote.credits p {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 10pt;
    color: var(--color-text-main);
    margin-top: -5px;
    text-align: center;
    padding-bottom: 0px;
    text-shadow: none;
}

.gmb blockquote.credits p strong em {
    font-family: Athelas;
    color: var(--color-strong);
    font-style: italic;
    font-weight: bold;
}

.gmb blockquote.credits p span.before-colon {
    color: var(--color-headers-main);
}

.gmb blockquote.credits div.acknowledgements p {
    font-family: Athelas;
    font-weight: normal;
    font-size: 8pt;
    letter-spacing: -0.02em;
    margin-top: -5px;
}

.gmb blockquote.credits div.acknowledgements p strong {
    font-family: Athelas;
    font-weight: bold;
    font-size: 8pt;
    color: var(--color-strong);
    letter-spacing: -0.03em;
}

.gmb blockquote.credits img.credits-image {
    width: 45%;
    display: block;
    position: initial;
    margin-left: auto;
    margin-right: auto;
}

/*** Credits block END ***/

/* Credits div */

.gmb div.credits {
    border-image: none;
    border: none;
    padding: 20px 10px 20px 10px;
    text-shadow: none;
}

.gmb div.credits h1, .gmb div.credits h3 {
    text-align: center;
    margin-bottom: 20px;
}

.gmb div.credits h1 {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 32pt;
    text-align: center;
    border: none;
    column-span: none;
    background-image: none;
}

.gmb div.credits p {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 13pt;
    color: var(--color-text-main);
    margin-top: 5px;
    text-align: center;
    padding-bottom: 0px;
    text-shadow: none;
}

.gmb div.credits p strong em {
    color: var(--color-strong);
    font-style: italic;
    font-weight: bold;
}

.gmb div.credits p span.before-colon {
    color: var(--color-headers-main);
}

.gmb div.credits div.acknowledgements p {
    font-family: Athelas;
    font-weight: normal;
    font-size: 10pt;
    letter-spacing: -0.02em;
}

.gmb div.credits div.acknowledgements strong {
    font-family: Athelas;
    font-weight: bold;
    font-size: 10pt;
    color: var(--color-strong);
    letter-spacing: -0.03em;
}

.gmb div.credits .acknowledgements h4 {
    text-align: center;
    font-size: 11pt;
}

.gmb div.credits img.credits-image {
    width: auto;
    display: block;
    position: initial;
    margin-left: auto;
    margin-right: auto;
}

/*** Credits div END ***/

/*** Full page Credits ***/

.gmb div.full-page-credits {
    column-span: all;
    text-align: center;
}

.gmb div.full-page-credits h1 {
    text-align: center;
    margin-bottom: 10px;
}

.gmb div.full-page-credits h2 {
    text-align: center;
    color: var(--color-text-main);
    margin: 10px 0 10px 0;
}

.gmb div.full-page-credits h3 {
    font-size: 16pt;
}

.gmb div.full-page-credits div.main-writer h3 {
    font-size: 20pt;
}

.gmb div.full-page-credits div.main-writer p {
    font-size: 18pt;
}

.gmb div.full-page-credits h3+p {
    font-size: 13pt;
    margin-left: 10px;
    font-weight: bold;
}

.gmb div.full-page-credits ul li {
    font-size: 10pt;
}

.gmb div.full-page-credits h3, .gmb div.full-page-credits h3+p {
    display: inline;
}

.gmb div.full-page-credits .acknowledgements h4 {
    text-align: center;
    font-size: 11pt;
}

.gmb div.full-page-credits .acknowledgements p {
    font-size: 8pt;
    text-align: center;
}

.gmb div.full-page-credits .acknowledgements em strong {
    font-size: 8pt;
    font-style: italic;
    font-weight: bold;
    color: var(--color-text-main);
}

/*** Full page Credits END ***/

.gmb .descriptive {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-style: italic;
    padding-left: 30px;
}

.gmb .descriptive h5 {
    font-style: normal;
    color: var(--color-text-main);
    text-align: center;
}

/** Page number **/

.gmb .pageNumber, .gmb .pageNumber.auto {
    font-family: "Poison Hope";
    font-size: 13pt;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
    text-align: center;
}

.gmb:nth-child(odd) .pageNumber, .gmb:nth-child(even) .pageNumber {
    right: 0px;
    bottom: 32px;
    width: 50px;
    vertical-align: middle;
}

.gmb:nth-child(odd) .pageNumber {
    left: 30px;
}

.gmb:nth-child(even) .pageNumber {
    left: 735px;
}

.gmb:nth-child(odd)::after, .gmb:nth-child(even)::after {
    content: "";
    background: none;
    background-image: var(--img-bg-page-number), var(--img-bg-border);
    background-size: 100px 100px, 780px 1046px;
    background-repeat: no-repeat;
    background-position: 20px calc(100% - 5px), bottom;
    margin-bottom: 10px;
    margin-left: 10px;
    left: -10px;
    bottom: 0;
    height: 100%;
    z-index: -2;
    padding: 0px;
}

.gmb:nth-child(even)::after {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

div#p1::after {
    background-image: none;
}

.gmb .footnote {
    color: var(--color-strong);
    font-family: "Athelas";
    font-weight: bold;
    font-size: .8em;
    width: 200px;
    bottom: 20px;
}

/*** Page number END ***/

.html-code code {
    visibility: visible;
    box-shadow: 1px 1px 1px black;
    background-color: #aaa;
    font-family: 'Lucida Console'
}

.gmb hr {
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
    position: relative;
}

/*** Lists ***/

.gmb ul {
    text-indent: -1em;
    list-style-type: none;
}

.gmb ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

.gmb ol>li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -1em;
    list-style-type: none;
    counter-increment: item;
}

.gmb ol>li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-family: 'GothamBold';
    font-weight: bold;
    font-size: 9pt;
    text-align: right;
    content: counter(item) ".";
}

.gmb ul strong, .gmb ul p strong, .gmb ol strong {
    font-family: 'GothamBold';
    font-weight: normal;
    font-size: 10pt;
    letter-spacing: -0.02em;
    color: var(--color-strong);
}

.gmb ul li ul li strong, .gmb ul li strong+strong {
    font-size: 9pt;
}

.gmb hr+ul li {
    list-style-type: disc;
    text-indent: 0;
}

.gmb ul li ul li, .gmb ul+div.column-break+ul li {
    list-style-type: disc;
    text-indent: 0;
}

.gmb ul+div.column-break+ul li {
    margin-left: 1.5em;
}

.gmb p ul li strong {
    font-family: "GothamBold";
    font-weight: normal;
    font-size: 10pt;
    color: var(--color-strong-alt);
    letter-spacing: -0.02em;
}

.gmb p ul li ul li strong, .gmb p+ul li strong {
    font-family: "GothamBold";
    font-weight: normal;
    font-size: 10pt;
    color: var(--color-strong);
    letter-spacing: -0.02em;
}

.gmb ul li p {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: inherit;
}

.gmb ul li p+ul {
    margin-top: 0px;
}

.gmb ul li div.column-break+p, .gmb ul+div.column-break+p {
    text-indent: 1em;
}

.gmb p+ul {
    margin-top: -0.8em;
}

.gmb p.list-indent {
    margin-left: 1em;
    line-height: 1em;
    text-indent: 1em;
}

.gmb p.list-indent+ul li:first-of-type {
    margin-left: 0;
    line-height: 1em;
    text-indent: 1em;
}

.gmb p, .gmb li, .gmb ol {
    font-family: 'Athelas';
    font-size: 11pt;
    text-align: left;
    letter-spacing: -0.01em;
}

.gmb ul ul, .gmb ol ol, .gmb ul ol, .gmb ol ul {
    margin-bottom: 0;
    margin-left: 0;
    line-height: inherit;
}

/*** Lists END ***/

/** Monster Stat Block **/

.gmb hr+section blockquote {
    padding: 0px;
    box-shadow: none;
    border-style: none;
    background-image: none;
    background-color: transparent;
    -webkit-filter: none;
    filter: none;
}

.gmb hr+section blockquote h3 {
    font-family: Athelas;
    background-color: var(--color-monster-h1-bg);
    background-image: none;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
    float: left;
    margin: 0px;
    width: 70%;
    height: 28px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: none;
}

.gmb hr+section blockquote h4 {
    font-family: Athelas;
    font-weight: normal;
    font-size: 8pt;
    font-style: initial;
    color: white;
    background-color: var(--color-monster-h1-bg);
    padding: 5px;
    float: right;
    width: 30%;
    height: 28px;
    margin: 0px;
    text-align: right;
}

.gmb hr+section blockquote h5 {
    font-family: Athelas;
    font-weight: bold;
    font-size: 9pt;
    text-align: left;
    color: var(--color-strong);
    background-color: var(--color-monster-h3-bg);
    padding: 3px;
    padding-left: 5px;
    border-style: none;
    text-transform: uppercase;
}

.gmb hr+section blockquote h4+p {
    clear: both;
    font-family: Athelas;
    font-weight: bold;
    font-size: 9pt;
    color: white;
    background-color: var(--color-monster-h2-bg);
    padding: 3px;
    padding-left: 5px;
}

.gmb hr+section blockquote h4+p+hr, .gmb hr+section blockquote h5+hr {
    display: none;
}

.gmb hr+section blockquote section section ul li {
    text-indent: inherit;
    margin-bottom: 0px;
}

.gmb hr+section blockquote hr+ul li {
    margin-left: 5px;
    font-family: 'GothamBook';
    font-size: 8pt;
    color: var(--color-text-main);
}

.gmb hr+section blockquote ul li strong {
    font-family: 'GothamBold';
    font-weight: bold;
    font-size: 8pt;
    color: var(--color-strong);
}

.gmb hr+section blockquote ul+hr {
    border-color: #800000;
}

.gmb hr+section blockquote h3+hr {
    visibility: hidden;
    margin: 0;
    height: 0;
}

.gmb hr+section blockquote h3+hr+section h4:before {
    content: "";
}

.gmb hr+section blockquote h4:before {
    content: "DIFFICULTY ";
}

/*** Monster Stats END ***/

/** Spells **/

.gmb div.spell h3 {
    font-family: Athelas;
    font-size: 10pt;
    color: var(--color-headers-main);
    font-weight: bold;
    background-image: none;
    padding: 5px 0px 5px 0px;
    float: left;
    margin: 0px;
    display: block;
    text-align: left;
    text-shadow: none;
    text-transform: uppercase;
}

.gmb div.spell h4 {
    font-family: Athelas;
    font-size: 7pt;
    color: var(--color-headers-main);
    font-weight: bold;
    font-style: initial;
    padding: 8px 0px 5px 0px;
    float: right;
    margin: 0px;
    text-align: right;
    display: block;
    text-transform: uppercase;
}

.gmb div.spell hr {
    background-image: none;
    visibility: visible;
    border-style: solid;
    border-color: black;
    border-width: 1.1px 0px 0px 0px;
    position: relative;
}

.gmb div.spell h4+hr {
    border-width: 2px 0px 0px 0px;
    width: 100%;
}

.gmb div.spell p {
    font-size: 9pt;
}

.gmb div.spell p strong {
    font-size: 8pt;
}

.gmb div.spell ul {
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: 1em;
    text-indent: initial;
    list-style-type: none;
}

.gmb div.spell ul li {
    font-family: 'GothamBook';
    font-size: 8pt;
    list-style-type: none;
}

.gmb div.spell ul li strong {
    font-family: 'GothamBold';
    font-size: 8pt;
    font-weight: normal;
    letter-spacing: -0.02em;
}

/*** Spells END ***/

/*** Ad Page ***/

.gmb div.ad-page {
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
}

.gmb div.ad-page h3 {
    color: var(--color-main);
    font-size: 14pt;
    margin-bottom: 20px;
}

.gmb div.ad-page div.grid {
    display: grid;
    grid-template-columns: 150px 550px;
    grid-gap: 2rem;
}

.gmb div.ad-page div.grid img {
    width: 150px;
    box-shadow: 7px 7px 5px 1px #1A1B1B;
}

/*** Ad Page END***/

/*** Use defult theme disclaimer ***/

.phb#p1 div.default-disclaimer::after {
    font-size: 26pt;
    font-family: Athelas;
    color: white;
    position: absolute;
    top: 0px;
    left: 30px;
    content: "Theme look weird? Click the cogs icon above, then check the 'Use default GM Binder Theme?' button.";
}

.gmb#p1 div.default-disclaimer::after {
    content: "";
}