/*** Blending ***/

img.corner-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: unset;
    z-index: -3;
}

img.corner-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: unset;
    z-index: -3;
}

img.corner-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: unset;
    z-index: -3;
}

img.corner-topright {
    position: absolute;
    top: 0;
    right: 0;
    width: unset;
    z-index: -3;
}

img.half-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: unset;
    z-index: -3;
}

img.half-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: unset;
    z-index: -3;
}

img.half-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: unset;
    z-index: -3;
}

img.half-top {
    position: absolute;
    top: 0;
    left: 0;
    width: unset;
    z-index: -3;
}

.gmb .blend {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    /* background-size: 100%; */
}

.right {
    transform: scaleX(-1);
}

.top {
    transform: scaleY(-1);
}

.half-v {
    background-image: var(--blend-half-vertical);
    background-size: 115%;
}

.half-h {
    background-image: var(--blend-half-horizontal);
}

.corner {
    background-image: var(--blend-corner);
}

.corner-inverted {
    background-image: var(--blend-corner-inverted);
}

.corner-inverted-small {
    background-image: var(--blend-corner-inverted-small);
}

.corner-quarter {
    background-image: var(--blend-corner-quarter);
}

.onethird {
    background-image: var(--blend-onethird);
}

.twothirds {
    background-image: var(--blend-twothirds);
}

.half-v-alt {
    background-image: var(--blend-half-vertical-alt);
    background-size: 115%;
}

.half-h-alt {
    background-image: var(--blend-half-horizontal-alt);
}

.corner-alt {
    background-image: var(--blend-corner-alt);
}

.corner-inverted-alt {
    background-image: var(--blend-corner-inverted-alt);
}

.corner-inverted-small-alt {
    background-image: var(--blend-corner-inverted-small-alt);
}

.corner-quarter-alt {
    background-image: var(--blend-corner-quarter-alt);
}

.onethird-alt {
    background-image: var(--blend-onethird-alt);
}

.twothirds-alt {
    background-image: var(--blend-twothirds-alt);
}

/* .gmb .blend-half-right, .gmb .blend-half-left, .gmb .blend-half-top, .gmb .blend-half-bottom, .gmb .blend-corner-topright, .gmb .blend-corner-topleft, .gmb .blend-corner-bottomright, .gmb .blend-corner-bottomleft, .gmb .blend-corner-topright-inverted, .gmb .blend-corner-topleft-inverted, .gmb .blend-corner-bottomright-inverted, .gmb .blend-corner-bottomleft-inverted, .gmb .blend-corner-topleft-inverted-small, .gmb .blend-corner-topright-inverted-small, .gmb .blend-corner-topright-quarter, .gmb .blend-corner-bottomright-quarter, .gmb .blend-corner-topleft-quarter, .gmb .blend-corner-bottomleft-quarter, .gmb .blend-onethird-top, .gmb .blend-onethird-bottom, .gmb .blend-twothirds-top, .gmb .blend-twothirds-bottom, .gmb .blend-half-right-alt, .gmb .blend-half-left-alt, .gmb .blend-half-top-alt, .gmb .blend-half-bottom-alt, .gmb .blend-corner-topright-alt, .gmb .blend-corner-topleft-alt, .gmb .blend-corner-bottomleft-alt, .gmb .blend-corner-bottomright-alt, .gmb .blend-corner-topright-inverted-alt, .gmb .blend-corner-topleft-inverted-alt, .gmb .blend-corner-topright-inverted-small-alt, .gmb .blend-corner-topleft-inverted-small-alt, .gmb .blend-corner-topright-quarter-alt, .gmb .blend-corner-bottomright-quarter-alt, .gmb .blend-corner-topleft-quarter-alt, .gmb .blend-corner-bottomleft-quarter-alt, .gmb .blend-onethird-bottom-alt, .gmb .blend-onethird-top-alt, .gmb .blend-twothirds-bottom-alt, .gmb .blend-twothirds-top-alt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 100%;
}

.gmb .blend-half-right {
    background-image: var(--blend-half-vertical);
    background-size: cover;
    transform: scale(-1);
}

.gmb .blend-half-left {
    background-image: var(--blend-half-vertical);
    background-size: 115%;
}

.gmb .blend-half-top {
    background-image: var(--blend-half-horizontal);
    transform: scale(-1);
}

.gmb .blend-half-bottom {
    background-image: var(--blend-half-horizontal);
}

.gmb .blend-corner-topright {
    background-image: var(--blend-corner);
}

.gmb .blend-corner-topleft {
    background-image: var(--blend-corner);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft {
    background-image: var(--blend-corner);
    transform: scale(-1);
}

.gmb .blend-corner-bottomright {
    background-image: var(--blend-corner);
    transform: scaleY(-1);
}

.gmb .blend-corner-topright-inverted {
    background-image: var(--blend-corner-inverted);
}

.gmb .blend-corner-topleft-inverted {
    background-image: var(--blend-corner-inverted);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomright-inverted {
    background-image: var(--blend-corner-inverted);
    transform: scaleY(-1);
}

.gmb .blend-corner-bottomleft-inverted {
    background-image: var(--blend-corner-inverted);
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.gmb .blend-corner-topright-inverted-small {
    background-image: var(--blend-corner-inverted-small);
}

.gmb .blend-corner-topleft-inverted-small {
    background-image: var(--blend-corner-inverted-small);
    transform: scaleX(-1);
}

.gmb .blend-corner-topright-quarter {
    background-image: var(--blend-corner-quarter);
}

.gmb .blend-corner-bottomright-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleY(-1);
}

.gmb .blend-corner-topleft-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.gmb .blend-onethird-bottom {
    background-image: var(--blend-onethird);
}

.gmb .blend-onethird-top {
    background-image: var(--blend-onethird);
    transform: scale(-1)
}

.gmb .blend-twothirds-bottom {
    background-image: var(--blend-twothirds);
}

.gmb .blend-twothirds-top {
    background-image: var(--blend-twothirds);
    transform: scale(-1);
}

.gmb .blend-half-right-alt {
    background-image: var(--blend-half-vertical-alt);
    background-size: cover;
    transform: scale(-1);
}

.gmb .blend-half-left-alt {
    background-image: var(--blend-half-vertical-alt);
    background-size: 115%;
}

.gmb .blend-half-top-alt {
    background-image: var(--blend-half-horizontal-alt);
    transform: scale(-1);
}

.gmb .blend-half-bottom-alt {
    background-image: var(--blend-half-horizontal-alt);
}

.gmb .blend-corner-topright-alt {
    background-image: var(--blend-corner-alt);
}

.gmb .blend-corner-topleft-alt {
    background-image: var(--blend-corner-alt);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft-alt {
    background-image: var(--blend-corner-alt);
    transform: scale(-1);
}

.gmb .blend-corner-bottomright-alt {
    background-image: var(--blend-corner-alt);
    transform: scaleY(-1);
}

.gmb .blend-corner-topright-inverted-alt {
    background-image: var(--blend-corner-inverted-alt);
}

.gmb .blend-corner-topleft-inverted-alt {
    background-image: var(--blend-corner-inverted-alt);
    transform: scaleX(-1);
}

.gmb .blend-corner-topright-inverted-small-alt {
    background-image: var(--blend-corner-inverted-small-alt);
}

.gmb .blend-corner-topleft-inverted-small-alt {
    background-image: var(--blend-corner-inverted-small-alt);
    transform: scaleX(-1);
}

.gmb .blend-corner-topright-quarter-alt {
    background-image: var(--blend-corner-quarter-alt);
}

.gmb .blend-corner-bottomright-quarter-alt {
    background-image: var(--blend-corner-quarter-alt);
    transform: scaleY(-1);
}

.gmb .blend-corner-topleft-quarter-alt {
    background-image: var(--blend-corner-quarter-alt);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft-quarter-alt {
    background-image: var(--blend-corner-quarter-alt);
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.gmb .blend-onethird-bottom-alt {
    background-image: var(--blend-onethird-alt);
}

.gmb .blend-onethird-top-alt {
    background-image: var(--blend-onethird-alt);
    transform: scale(-1)
}

.gmb .blend-twothirds-bottom-alt {
    background-image: var(--blend-twothirds-alt);
}

.gmb .blend-twothirds-top-alt {
    background-image: var(--blend-twothirds-alt);
    transform: scale(-1);
} */

/*** Blending END ***/