/** Global properties **/

:root {
    --img-header-banner: url(../img/header-banner.png);
    --img-main-bg: white;
    --img-bg-border: none;
    --img-bg-page-number: none;
    --img-parchment: url(../img/parchment.png);
    --color-headers-main: black;
    --color-text-main: black;
    --color-strong: black;
    --color-strong-alt: black;
    --color-monster-h1-bg: black;
    --color-monster-h2-bg: black;
    --color-monster-h3-bg: #A7A9AC;
    --color-header-border: black;
    --color-table-header-bg: black;
    --color-table-main-bg: initial;
    --color-table-alt-bg: #A7A9AC;
}

/** Global properties END **/

.gmb h1, .gmb h2, .gmb h3, .gmb h4, .gmb h5, .gmb h6, .gmb h7 {
    font-family: 'GothamBold';
}

.gmb hr+section blockquote h2+p {
    color: var(--color-text-main);
    background-color: var(--color-monster-h3-bg);
    margin: 0;
}