/*** Blending ***/

img.corner-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    z-index: -3;
}

img.corner-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    z-index: -3;
}

img.corner-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    z-index: -3;
}

img.corner-topright {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    z-index: -3;
}

img.half-left {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 65%;
    z-index: -3;
}

img.half-right {
    position: absolute;
    bottom: -10%;
    right: -10%;
    width: 65%;
    z-index: -3;
}

img.half-bottom {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    z-index: -3;
}

img.half-top {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -3;
}

.gmb .blend-half-right, .gmb .blend-half-left, .gmb .blend-half-top, .gmb .blend-half-bottom, .gmb .blend-corner-topright, .gmb .blend-corner-topleft, .gmb .blend-corner-bottomright, .gmb .blend-corner-bottomleft, .gmb .blend-corner-topright-inverted, .gmb .blend-corner-topleft-inverted, .gmb .blend-corner-topleft-inverted-small, .gmb .blend-corner-topright-inverted-small, .gmb .blend-corner-topright-quarter, .gmb .blend-corner-bottomright-quarter, .gmb .blend-corner-topleft-quarter, .gmb .blend-corner-bottomleft-quarter, .gmb .blend-onethird-top, .gmb .blend-onethird-bottom, .gmb .blend-twothirds-top, .gmb .blend-twothirds-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: 100%;
}

.gmb .blend-half-right {
    background-image: var(--blend-half-vertical);
    background-size: cover;
    transform: scale(-1);
}

.gmb .blend-half-left {
    background-image: var(--blend-half-vertical);
    background-size: 115%;
}

.gmb .blend-half-top {
    background-image: var(--blend-half-horizontal);
    transform: scale(-1);
}

.gmb .blend-half-bottom {
    background-image: var(--blend-half-horizontal);
}

.gmb .blend-corner-topright {
    background-image: var(--blend-corner);
}

.gmb .blend-corner-topleft {
    background-image: var(--blend-corner);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft {
    background-image: var(--blend-corner);
    transform: scale(-1);
}

.gmb .blend-corner-bottomright {
    background-image: var(--blend-corner);
    transform: scaleY(-1);
}

.gmb .blend-corner-topright-inverted {
    background-image: var(--blend-corner-inverted);
}

.gmb .blend-corner-topleft-inverted {
    background-image: var(--blend-corner-inverted);
    transform: scaleX(-1);
}

.gmb .blend-corner-topright-inverted-small {
    background-image: var(--blend-corner-inverted-small);
}

.gmb .blend-corner-topleft-inverted-small {
    background-image: var(--blend-corner-inverted-small);
    transform: scaleX(-1);
}

.gmb .blend-corner-topright-quarter {
    background-image: var(--blend-corner-quarter);
}

.gmb .blend-corner-bottomright-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleY(-1);
}

.gmb .blend-corner-topleft-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleX(-1);
}

.gmb .blend-corner-bottomleft-quarter {
    background-image: var(--blend-corner-quarter);
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.gmb .blend-onethird-bottom {
    background-image: var(--blend-onethird);
}

.gmb .blend-onethird-top {
    background-image: var(--blend-onethird);
    transform: scale(-1)
}

.gmb .blend-twothirds-bottom {
    background-image: var(--blend-twothirds);
}

.gmb .blend-twothirds-top {
    background-image: var(--blend-twothirds);
    transform: scale(-1);
}

/*** Blending END ***/