/** Import Fonts **/

@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');
/** Defining fonts **/

@font-face {
    font-family: 'First Order';
    src: url('https://groumy.github.io/homebrewery-sotdl/fonts/firstv2.ttf')
}

@font-face {
    font-family: 'GothamBold';
    src: url('https://groumy.github.io/homebrewery-sotdl/fonts/GothamBold%20Regular.otf')
}

@font-face {
    font-family: 'GothamBook';
    src: url('https://groumy.github.io/homebrewery-sotdl/fonts/GothamBook%20Regular.otf')
}

@font-face {
    font-family: 'JSL Ancient';
    src: url('https://groumy.github.io/homebrewery-sotdl/fonts/jancieni.ttf')
}

@font-face {
    font-family: 'Poison Hope';
    src: url('https://groumy.github.io/homebrewery-sotdl/fonts/PoisonHope-Regular.otf')
}

/**  **/

.brewRenderer .pages>.phb {
    margin-bottom: 10px;
}

.phb {
    font-family: Athelas;
    background: url('https://roninra.github.io/SotDL-Homebrew/assets/images/sotdl_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 282.6mm;
    width: 219.1mm;
    column-fill: auto;
    column-count: 2;
    column-gap: 0.4cm;
    column-width: 9cm;
    -webkit-column-count: 2;
    -webkit-column-gap: 0.4cm;
    -webkit-column-width: 9cm;
    -moz-column-count: 2;
    -moz-column-gap: 0.4cm;
    -moz-column-width: 9cm;
}

.phb img.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.phb h1.title {
    background-image: url(../images/header-banner.png);
    background-size: 100% 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0px -65px 0px -65px;
}

.phb h1.title span {
    font-family: "First Order";
    font-size: 50pt;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 0px 5px black;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000, 3px 7px 3px #000, 4px 8px 3px #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: #f3ebebd1;
    position: relative;
    left: 20%;
    bottom: 5px;
}

.phb h2.title {
    font-family: Athelas;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-size: 19pt;
    text-align: center;
    text-transform: none;
}

.phb h1+p::first-letter {
    float: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.phb h1, .phb h2, .phb h3, .phb h4, .phb h5, .phb h6, .phb h7 {
    font-family: 'Poison Hope';
    font-weight: normal;
    text-align: left;
    color: #9C0719;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.phb h1 {
    font-size: 32pt;
}

.phb h2 {
    font-size: 25pt;
}

.phb h3 {
    border-bottom-style: none;
    font-size: 18pt;
}

.phb h4 {
    font-size: 13pt;
}

.phb h4.traits {
    font-size: 14pt;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1.1px;
}

.phb h4.table {
    font-size: 14pt;
    text-align: center;
}

.phb h5 {
    font-size: 12pt;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1.1px;
}

.phb h5.sidebar {
    font-size: 12pt;
    text-align: center;
}

.phb h6 {
    font-size: 10pt;
    border-bottom-style: solid;
    border-bottom-color: #9C0719;
    border-bottom-width: 1.1px;
}

.phb p, .phb li, .phb ol {
    font-family: 'Athelas';
    font-size: 11pt;
    text-align: left;
}

.phb p strong {
    font-family: "GothamBold";
    font-weight: normal;
    font-size: 10pt;
    color: #9C0719;
    letter-spacing: -0.02em;
}

/* Tables */

.phb table thead th {
    background-color: #000000;
    color: #ffffff;
    font-family: "GothamBook";
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
}

.phb table tbody tr {
    font-family: "GothamBook";
    font-size: 8pt;
}

.phb table tbody tr:nth-child(odd) {
    background-color: initial;
    font-family: "GothamBook";
    font-size: 8pt;
}

.phb table tbody tr:nth-child(even) {
    background-color: #fff;
    font-family: "GothamBook";
    font-size: 8pt;
}

.phb table tbody tr td {
    font-family: 'GothamBook';
    font-size: 8pt;
}

.phb table tbody tr td ul {
    text-indent: -1em;
    list-style-type: none;
}

.phb table tbody tr td li {
    margin-left: 5px;
    font-family: 'GothamBook';
    font-size: 8pt;
    color: #000000;
}

.phb table tbody tr td strong {
    font-family: 'GothamBold';
    font-weight: normal;
    font-size: 8pt;
    color: #000000;
}

.phb table strong {
    font-family: 'GothamBold';
    font-size: 8pt;
}

/*** Tables END ***/

.phb strong em, .phb em strong {
    color: #9C0719;
    font-style: normal;
    font-weight: bold;
}

.phb blockquote {
    border-image: none;
    border: none;
    background-color: transparent;
    background-image: url('https://roninra.github.io/SotDL-Homebrew/assets/images/parchment.png');
    background-size: 100% 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.phb blockquote h5 {
    border: none;
    font-weight: bold;
    text-align: center;
}

.phb blockquote p {
    font-size: 0.83em;
}

/* Credits block */

.phb blockquote.credits {
    border-image: none;
    border: none;
    background-color: transparent;
    background-image: url('https://roninra.github.io/SotDL-Homebrew/assets/images/parchment.png');
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(7px 7px 4px #000);
    filter: drop-shadow(7px 7px 4px #000);
    padding: 20px 10px 20px 10px;
}

.phb blockquote.credits h1.credits {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 18pt;
    text-align: center;
    border: none;
}

.phb blockquote.credits p {
    font-family: 'Poison Hope';
    font-weight: normal;
    font-size: 10pt;
    color: #000000;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 0px;
}

.phb blockquote.credits p strong em {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.phb blockquote.credits p span.before-colon {
    color: #9C0719;
}

.phb blockquote.credits p.acknowledgements {
    font-family: Athelas;
    font-weight: normal;
    font-size: 8pt;
}

.phb blockquote.credits img.credits-image {
    position: initial;
    width: auto;
    height: 100px;
}

/*** Credits block END ***/

.phb .descriptive {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-style: italic;
    padding-left: 30px;
}

.phb .descriptive h5 {
    font-style: normal;
    color: black;
    text-align: center;
}

.phb .footnote {
    color: #222;
    font-family: "First Order";
    font-size: 2.5em;
    width: 100%;
    bottom: 0px;
}

/** Page number **/

.phb .pageNumber {
    bottom: 0px;
    right: 0;
    left: 30px;
    vertical-align: middle;
}

.phb:nth-child(even) .pageNumber {
    left: 30px;
}

.phb .pageNumber.auto {
    bottom: 44px;
}

.phb .pageNumber.auto::after {
    height: 22px;
}

.phb .pageNumber, .phb .pageNumber.auto {
    font-family: "Poison Hope";
    font-size: 13pt;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
    text-align: center;
}

.phb:nth-child(even):after {
    transform: scaleX(1);
}

.phb::after {
    background: none;
    background-image: url(https://roninra.github.io/SotDL-Homebrew/assets/images/pentagram.png), url(https://roninra.github.io/SotDL-Homebrew/assets/images/sotdl_background_border.png);
    background-size: 100px 100px, 816px 1046px;
    background-repeat: no-repeat;
    background-position: 10px calc(100% - 5px), bottom;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 100%;
    z-index: -2;
}

/*** Page number END ***/

.html-code code {
    visibility: visible;
    box-shadow: 1px 1px 1px black;
    background-color: #aaa;
    font-family: 'Lucida Console'
}

.phb hr {
    /* visibility: visible; */
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
    position: relative;
}

.phb ul {
    text-indent: -1em;
    list-style-type: none;
}

.phb ul strong {
    font-family: 'GothamBold';
    font-weight: normal;
    font-size: 10pt;
    letter-spacing: -0.02em;
}

/** Monster Stat Block **/

.phb hr+blockquote {
    padding: 0px;
    box-shadow: none;
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.phb hr+blockquote h1 {
    font-family: Athelas;
    background-color: black;
    background-image: none;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
    float: left;
    margin: 0px;
    width: 70%;
    text-align: left;
    text-transform: uppercase;
}

.phb hr+blockquote h2 {
    font-family: Athelas;
    font-weight: normal;
    font-size: 8pt;
    font-style: initial;
    color: white;
    background-color: black;
    padding: 5px;
    float: right;
    width: 30%;
    height: 26px;
    margin: 0px;
    text-align: right;
}

.phb hr+blockquote h3 {
    font-family: Athelas;
    font-weight: bold;
    font-size: 9pt;
    color: black;
    background-color: #A7A9AC;
    padding: 3px;
    padding-left: 5px;
    border-style: none;
    text-transform: uppercase;
}

.phb hr+blockquote h2+p {
    clear: both;
    font-family: Athelas;
    font-weight: bold;
    font-size: 9pt;
    color: white;
    background-color: #9C0719;
    padding: 3px;
    padding-left: 5px;
}

.phb hr+blockquote h2+p+hr, .phb hr+blockquote h3+hr {
    display: none;
}

.phb hr+blockquote hr+ul li {
    margin-left: 5px;
    font-family: 'GothamBook';
    font-size: 8pt;
    color: #000000;
}

.phb hr+blockquote ul li strong {
    font-family: 'GothamBold';
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
}

.phb hr+blockquote ul+hr {
    border-color: #9C0719;
}

.phb hr+blockquote h2:before {
    content: "DIFFICULTY ";
}

/*** Monster Stats END ***/

/** Spells **/

.phb div.spell h1 {
    font-family: Athelas;
    font-size: 10pt;
    color: #9C0719;
    font-weight: bold;
    background-image: none;
    padding: 5px 5px 0px 5px;
    float: left;
    margin: 0px;
    width: 50%;
    text-align: left;
    text-shadow: none;
    text-transform: uppercase;
}

.phb div.spell h2 {
    font-family: Athelas;
    font-size: 8pt;
    color: #9C0719;
    font-weight: normal;
    font-style: initial;
    padding: 8px 5px 0px 5px;
    float: right;
    width: 50%;
    margin: 0px;
    text-align: right;
    text-transform: uppercase;
}

.phb div.spell hr {
    background-image: none;
    visibility: visible;
    border-style: solid;
    border-color: black;
    border-width: 1.1px 0px 0px 0px;
    position: relative;
}

.phb div.spell h2+hr {
    margin-top: 20px;
}

.phb div.spell ul {
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: 1em;
    text-indent: initial;
    list-style-type: none;
}

.phb div.spell ul li {
    font-family: 'GothamBook';
    font-size: 8pt;
}

.phb div.spell ul li strong {
    font-family: 'GothamBold';
    font-size: 8pt;
    font-weight: normal;
    letter-spacing: -0.02em;
}

/*** Spells END ***/