/*** Mythos Global properties ***/

/** Font imports **/

@import url("https://roninra.github.io/SotDL-Homebrew/assets/fonts/Andesite/stylesheet.css");
@import url("https://roninra.github.io/SotDL-Homebrew/assets/fonts/MarketDeco/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

:root {
  /* Colors */
  --color-primary: #191919;
  --color-primary-glare: #d6ede6;
  --color-secondary: #ffe5af;
  --color-tertiary: #a7a9ac;
  --color-quaternary: #e4e3d8;
  --color-quinary: #38212b;
  --color-senary: #ffffff;
  --color-septenary: #f3f3f3;

  /* Fonts */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "MarketDeco";
  --font-tertiary: "Andesite";

  /* Headers */
  --font-title: var(--font-tertiary);
  --font-header-primary: var(--font-secondary);
  --color-header-primary: var(--color-secondary);
  --font-size-h1: 24pt;
  --font-size-h2: 14pt;
  --font-size-h3: 11pt;
  --font-size-h4: 9pt;

  /* Background */
  --color-bg-primary: var(--color-septenary);
  --color-bg-blockquote: var(--color-quaternary);

  /* Main Text */
  --font-text-primary: var(--font-primary);
  --color-text-primary: var(--color-primary);
  --font-size-primary: 9pt;
  --indent-main: 1em;

  /* Tables */
  --color-table-header: var(--color-quinary);
  --color-table-header-text: var(--color-secondary);
}
