/*** Mythos Global properties ***/

/** Font imports **/

@import url("https://roninra.github.io/SotDL-Homebrew/assets/fonts/Andesite/stylesheet.css");
@import url("https://roninra.github.io/SotDL-Homebrew/assets/fonts/MarketDeco/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

:root {
  /* Colors */
  --color-primary: #191919;
  --color-primary-glare: #d6ede6;
  --color-secondary: #ffe5af;
  --color-tertiary: #37585b;
  --color-quaternary: #333234;
  --color-quaternary-glare: #515153;
  --color-quinary: #38212b;
  --color-quinary-glare: #55484f;
  --color-senary: #251325;
  --color-septenary: #473839;

  /* Fonts */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "MarketDeco";
  --font-tertiary: "Andesite";
  --font-size-primary: 9pt;
  --font-size-secondary: 11pt;
  --font-size-tertiary: 14pt;
  --font-size-quaternary: 24pt;
  --font-size-quinary: 28pt;
  --font-size-senary: 32pt;

  /* Headers */
  --font-title: var(--font-tertiary);
  --font-header-main: var(--font-secondary);
  --color-header-main: var(--color-secondary);
  --font-size-h1: var(--font-size-quinary);
  --font-size-h2: var(--font-size-quaternary);
  --font-size-h3: var(--font-size-tertiary);
  --font-size-h4: var(--font-size-secondary);
  --font-size-h5: var(--font-size-secondary);
  --font-size-h6: var(--font-size-secondary);

  /* Background */
  --color-bg-primary: var(--color-septenary);
  --color-bg-blockquote: var(--color-quaternary);
  --color-gradient-main: linear-gradient(
    90deg,
    var(--color-quaternary) 0%,
    var(--color-tertiary) 100%
  );
  --color-gradient-shade: linear-gradient(
    90deg,
    var(--color-quaternary) 0%,
    var(--color-quaternary-glare) 100%
  );
  --color-gradient-alt: linear-gradient(
    90deg,
    rgba(56, 33, 43, 1) 0%,
    rgba(85, 72, 79, 1) 100%
  );
  --color-gradient-alt-shade: linear-gradient(
    90deg,
    var(--color-senary) 0%,
    var(--color-septenary) 100%
  );

  /* Main Text */
  --font-text-primary: var(--font-primary);
  --color-text-primary: var(--color-primary);
  --font-size-main-text: var(--font-size-primary);
  --indent-main: 1em;

  /* Tables */
  --color-table-header: var(--color-quinary);
  --color-table-header-text: var(--color-secondary);
}
