@font-face {
    font-family: 'camelot caps';
    src: url('camelotcaps-webfont.woff2') format('woff2'),
         url('camelotcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}