@font-face {
    font-family: 'gothic leaf';
    src: url('gothicleaf-veay-webfont.woff2') format('woff2'), 
    url('gothicleaf-veay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}