@font-face {
    font-family: 'Aseina Style II';
    src: url('ASEINA STYLE II.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aseina Style III';
    src: url('ASEINA STYLE III.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aseina';
    src: url('ASEINA TYPEFACE.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}