@font-face {
  font-family: "First Order";
  src: url("firstv2.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamBook";
  src: url("Gotham-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JSL Ancient";
  src: url("jancieni.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poison Hope";
  src: url("PoisonHope-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tilde";
  src: local("Baskerville"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+7E U+3A;
}
