@font-face {
    font-family: 'First Order';
    src: url('../fonts/firstv2.ttf')
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham-Bold.otf')
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gotham-Book.otf')
}

@font-face {
    font-family: 'JSL Ancient';
    src: url('../fonts/jancieni.ttf')
}

@font-face {
    font-family: 'Poison Hope';
    src: url('../fonts/PoisonHope-Regular.ttf')
}