/*** CoC Headings ***/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: var(--color-headers-main);
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 14pt;
}

h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-size: 11pt;
}

h4 {
  font-size: 9pt;
}
