/*** Call of Cthulhu Lists ***/

.gmb ol,
.gmb ul {
  padding-left: var(--indent-main);
}

.gmb ol {
  list-style-type: decimal;
}
.gmb ul {
  list-style-type: disc;
}

.gmb ul li,
.gmb ol li {
  text-align: justify;
  text-align-last: left;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  color: var(--color-text-main);
}
