/*** Call of Cthulhu Tables ***/

.gmb table thead th {
  background-color: var(--color-table-header);
  color: var(--color-table-header-text);
  font-weight: bold;
}

.gmb table tbody tr:nth-child(even) {
  background-color: var(--color-table-header);
  color: var(--color-table-header-text);
}

.gmb table tbody tr:nth-child(odd) {
  background-color: transparent;
  color: var(--color-text-main);
}
