@font-face {
    font-family: 'gothic corner caps';
    src: url('gothiccornercaps-webfont.woff2') format('woff2'),
         url('gothiccornercaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}