@font-face {
    font-family: 'Deadhead Classic';
    src: url('Deadhead Classic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Deadhead Classic Italic';
    src: url('Deadhead Classic Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}