@font-face {
    font-family: 'carrick caps';
    src: url('carrickcaps-webfont.woff2') format('woff2'),
         url('carrickcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}